$primary: #235A5F;
$primary-light: #41757A;
$dark: #C06421;
$shades: #382E20;
$light: #F7F6F5;
$accent: #C99B2A;

// $primary: #1D7778;
// $primary-light: #288688;
// $dark: #C06421;
// $shades: #382E20;
// $light: #F7F6F5;
// $accent: #C99B2A;

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $shades;
    background-color: $light ;
}

h2, h3 {
    text-align: center;
    color: $shades;
    margin: 0;
}

h4 {
    margin-bottom: 0;
}

.message-field {
    /* max-width: 1200px;
    margin: 0 auto; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.message-field-messages {
    width: 70%;
    background-color: #e0f2f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    /* border: 1px solid teal; */
    border-radius: 10px;
}

.chat-list {
    width: 27%;
    background-color: #e0f2f1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* border: 1px solid teal; */
    border-radius: 10px;
    margin-right: 15px;
    box-sizing: border-box;
    align-self: flex-start;
}

.chat-list h3 {
    color: $primary;
}

.chat-list-link {
    color: teal;
    text-decoration: none;
}

.layout {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.message {
    background-color: lightblue;
    min-width: 20%;
    max-width: 70%;
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    word-wrap: break-word;
}

.message-robot {
    align-self: flex-start;
}

.message-user {
    align-self: flex-end;
}

.message-author {
    color: rgb(2, 172, 172);
    font-size: 0.8em;
}

.message-text {
    color: rgb(1, 85, 85);
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 20px;
}

.MuiButton-root {
    width: 120px;
    align-self:center;
}

.header {
    /* width: 100%; */
    max-width: 1200px;
    margin: 0 auto;
    // height: 60px;
    // padding: 0 20px;
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid teal; */
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.header-left {
    margin-left: 40px;
}

.header-right {
    margin-right: 40px;
}

.header-right span {
    color: $light;
    font-size: 0.8em;
}

.header-link {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: $light;
    // font-weight: bold;
    // margin: 0 30px;
}

.header-link:hover {
    background-color: $primary-light;

}

.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.profile input {
    display: block;
}

.profile span {
    color: teal;
    font-weight: bold;
}

.unread {
    color: white;
    background-color: teal;
}

.articles {
    display: flex;
    flex-direction: column;
}

.gallery {
    width: 100%;
    flex-direction: column;
}

.gallery-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-item {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px 10px lightgray;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    /* border: 1px solid lightgray; */
    border-radius: 10px;
}

.gallery-item h4, .gallery-item p {
    text-align: center;
}

.gallery-item p {
    color:$dark;
    font-size: 0.8em;
}

.gallery-img {
    display: block;
    max-width: 250px;
    margin: 0 auto;
}